:root {
    --main: rgb(22, 120, 177);
    --titletxt:rgb(0, 0, 0);
    --text: #fff;
    --background: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.searchBtn {
    cursor: pointer;

}

.searchBar {
    right:auto;
}

img {
    display: block;
    max-width: fit-content;
    height: auto;
}

ul {
    list-style: none;
  }

body {
    background: var(--main);
    color: var(--titletxt);
}

#current {
    margin: auto;
    padding: 2px;
    border: 2px grey;
    background-color: white;
}